{% extends 'base.html.twig' %}

{% block title %}Familles Animaux{% endblock %}
 {% block monTitre %}La liste des familles des animaux{% endblock %}
{% block body %}
    {% for famille in familles %}
        <div class="col d-flex flex-column justify-content-center align-items-center mb-5">
            <div>
                <a class="btn btn-warning text-center"
                   href="{{ path("afficher_famille",{'id':famille.id}) }}">{{ famille.libelle | capitalize }}</a>
            </div>
            <div class="mb-4">
                {{ famille.description }}
            </div>
        </div>


        <div class="row">
            {% for animal   in famille.animaux %}
                <div class="col-6">
                    <div class="row align-items-center ">
                        <div class="col-12 col-md-6 col-lg-4 text-center">
                            <a href="{{ path("afficher_animal",{'id':animal.id}) }}"><img class="img-fluid"
                                                                                          src="{{ asset('images/' ~ animal.image) }}"
                                                                                          alt="image d'un animal"></a>
                        </div>
                        <div class="col text-center">
                            <h2>{{ animal.nom }}</h2>
                            <div><p class="lead d-inline">Description:</p> {{ animal.description }}</div>
                            <div><p class="lead d-inline">Poids: </p> {{ animal.poids }}</div>
                            <div><p class="lead d-inline">Dangereux:</p>
                                {% if animal.dangereux %}
                                    <span class="badge badge-danger text-uppercase">oui</span>
                                {% else %}
                                    <span class="badge badge-success text-uppercase">non</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr class="border border-primary">
    {% endfor %}
{% endblock %}
